
body
{
  background: url('../images/background.jpg');
  font-family: roboto, Sans-Serif ;
  overflow: auto;
}
.mainContainer
{
  margin: 10px;
}
h1
{
  line-height: 50px;
  font-size: 40px;
  text-align: right;
  margin-right: 100px;
}
.allSection
{
  overflow: auto;
}
.character
{
  width: 150px;
  height: 130;
  text-align: center;
  background-color: #fff;
  float: left;
  border: 3px solid green;
}
img
{
  width: 120px;
  height: 100px;
  margin: 0px 15px 0px 15px;
}
p .text
{
  margin: 5px;
  font-size: 30px;
  margin: 10px 0px;
  padding: 5px;
}
.character p
{
  width: 100%;
}
.playerSection, 
.enemySection,
.fightSection, 
.defenderSection
{
  overflow: auto;
  margin: 5px 0px;
}
.playerSection, .defenderSection
{
  min-height: 142px;
}
.enemySection .character
{
  background-color: red;
  border: 3px solid black;
}
.defenderSection .character
{
  background-color: black;
  border: 3px solid green;
  color: #fff;
}
